div{
    text-align: center;
    /* background-color:rgb(233, 68, 101);*/
} 
form{
    margin-left : 20%;
    text-align:left;
}
/* html{
    background-color:rgb(235, 116, 140);

}
h1,label{
color: darkred;
} */
